<body style="display: table; position: absolute; top: 0; left: 0; height: 98%; width: 98%;">
    <div style="display: table-cell; vertical-align: middle;">
    
        <section style="max-width: 600px; margin: auto; text-align: center; border-radius: 5px; border: 1px solid #ededed">
            <div style="background-color: #0ea55a; padding: 2em; border-radius: 5px 5px 0 0;">
                icon here
            </div>
            <div style="padding: 1em">
                <h2 style="font-weight: bold">Félicitation !</h2>
                <p>Votre paiement s'est effectué avec succès.<br>Vous pouvez désormais accèder à votre Espace Client</p>
                <p><a href="/auth/login" style="display: inline-block; background-color: #0ea55a; padding: 0.8em 2em; border-radius: 30px; color: white; text-decoration: none">Espace Client</a></p>
            </div>
        </section>
    
    </div>
</body>