{% extends 'layout.twig' %}

{% block stylesheets %}
    <style>
        h4 { display: inline-block; padding-right: 2em; font-size: 1.1em; border-bottom: 1px solid #c40f11; }

        div.step{ min-height: 10em; }

        div.company-status-item{cursor: pointer; color: #999}
        div.company-status-item.active{color: #0c9cb2 !important; border: 1px solid #0c9cb2; border-radius: 5px}

        .sweep-to-right-primary-red {
            background: linear-gradient(to right, #b5070a, #b5070a);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size 0.5s 0s;
        }

        .sweep-to-right-primary-red:hover {
            background-size: 100% 100%;
        }

        {# TYPOGRAPHIE #}
        .msg-info {
            font-size: 0.8em;
        }

        .card-header h3{
            font-size: 1.2em;
        }
        h3.card-title.pricing-card-title{
            font-size: 1em;
        }

        .pricing .card {
            border: none;
            border-radius: 1rem;
            transition: all 0.2s;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }

        .pricing hr {
            margin: 1.5rem 0;
        }

        .pricing .card-title {
            margin: 0.5rem 0;
            font-size: 0.9rem;
            letter-spacing: .1rem;
            font-weight: bold;
        }

        .pricing .card-price {
            font-size: 3rem;
            margin: 0;
        }

        .pricing .card-price .period {
            font-size: 0.8rem;
        }

        .pricing ul li {
            margin-bottom: 1rem;
        }

        .pricing .text-muted {
            opacity: 0.7;
        }

        .pricing .btn {
            font-size: 80%;
            border-radius: 5rem;
            letter-spacing: .1rem;
            font-weight: bold;
            padding: 1rem;
            opacity: 0.7;
            transition: all 0.2s;
        }

        /* Hover Effects on Card */

        @media (min-width: 992px) {
            .pricing .card:hover {
                margin-top: -.25rem;
                margin-bottom: .25rem;
                box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
            }
            .pricing .card:hover .btn {
                opacity: 1;
            }
        }

        
    </style>
{% endblock %}

{% block contentTitle %}
    <span class="text-primary-black">Procédure entrée en relation digitale</span>
{% endblock %}

{% block content %}

    <div class="p-0 p-md-5 w-100" style="margin-top: 10em; background-color: #303945">
        <div class="shadow bg-light p-4 mx-5" style="margin-top: -120px">
            <div class="logo text-center">
                <img src="./assets/img/logo/check-info.png" alt="Logo Check Info" style="max-width: 14em; margin-bottom: 1.2em">
            </div>

            <section id="step-block-section">
                <!-- Block form step 0 -->
                <div id="step-0" class="step row text-center m-4">
                    <div class="col col-md-4 d-none d-md-block" style="background: url(./assets/img/media/bienvenue.jpg) no-repeat center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
                    <div class="col col-md-8 text-left">
                        <h4>Identification de l'entreprise</h4>

                        <div class="desc">
                            <form id="step-form-0" action="" method="POST" enctype="multipart/form-data" autocomplete="off">
                                <input type="hidden" name="step" value="0">

                                <div class="form-group">
                                    <label for="ice">Veuillez saisir votre Identifiant Commun de l'Entreprise (ICE)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span id="inputGroupIce" class="input-group-text"><i class="icofont icofont-id fa-lg mx-2"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="ice" name="ice" aria-describedby="iceHelp" placeholder="Numéro ICE" maxlength="15" minlength="15" autocomplete="off" aria-describedby="inputGroupIce" required>
                                    </div>
                                    <small id="iceHelp" class="form-text text-muted"></small>
                                    <span id="iceError" class="msg-info text-primary-red"></span>
                                </div>

                                <div class="form-group">
                                    <label class="d-block" for="ice-file">Veuillez attacher votre attestation ICE</label>
                                    <input type="file" class="form-control d-none" id="ice-file" name="ice-file" aria-describedby="iceFileHelp" placeholder="Enter email" required>
                                    <label id="upload-icon" class="d-inline-block text-center" style="border: 1px dashed #999; border-radius: 5px; cursor: pointer; padding: 0 5em">
                                        <i class="icofont-cloud-upload fa-3x text-primary-gray py-0 my-1" ></i>
                                    </label>
                                    <small id="iceFileHelp" class="form-text text-muted">Formats acceptés : Images (.jpeg, .jpg, .png) ou PDF (.pdf); Taille maximale : 2Mo</small>
                                    <span id="iceFileError" class="msg-info text-primary-red"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Block form step 1 -->
                <div id="step-1" class="step row text-center m-4" >
                    <div class="col col-md-4 d-none d-md-block" style="background: url(./assets/img/media/contactez-nous.jpg) no-repeat center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
                    <div class="col col-md-8 text-left">
                        <h4>Numéro de téléphone et adresse email</h4>

                        <div class="desc">
                            <form id="step-form-1" action="" method="POST" enctype="multipart/form-data" autocomplete="off">
                                <input type="hidden" name="step" value="1">

                                <label for="phoneSubscribe" class="d-block">Téléphone Mobile</label>
                                <div class="form-row">

                                    <div class="col form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="inputGroupPhoneNumber" class="input-group-text">+212</span>
                                            </div>
                                            <input type="text" class="form-control" id="phoneSubscribe" name="phoneSubscribe" placeholder="0600000000" aria-describedby="inputGroupPhoneNumber" maxlength="10" required>
                                        </div>
                                        <span id="phoneSubscribeError" class="msg-info text-primary-red"></span>
                                    </div>
                                </div>

                                <label for="emailSubscribe" class="d-block">Adresse E-mail</label>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="inputGroupEmail" class="input-group-text"><i class="icofont icofont-email fa-lg mx-2"></i></span>
                                            </div>
                                            <input type="email" class="form-control" id="emailSubscribe" name="emailSubscribe" placeholder="john@email.com" aria-describedby="inputGroupEmail" required>
                                        </div>
                                        <span id="emailError" class="msg-info text-primary-red"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Block form step 2 -->
                <div id="step-2" class="step row text-center m-4" style="display: none;">
                    <div class="col col-md-4 d-none d-md-block" style="background: url(./assets/img/media/gros-plan-femme-affaires.jpg) no-repeat center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
                    <div class="col col-md-8 text-left">
                        <h4>Information du contact principal</h4>

                        <div class="desc">
                            <form id="step-form-2" action="" method="POST" enctype="multipart/form-data" autocomplete="off">
                                <input type="hidden" name="step" value="2">

                                <div class="form-row">

                                    <div class="col-sm-12 col-md-6 form-group">
                                        <label for="name" class="d-block">Nom</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="inputGroupName" class="input-group-text"><i class="icofont icofont-business-man fa-lg mx-2"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Nom" aria-describedby="inputGroupName" autocomplete="off" required>
                                        </div>
                                        <span id="nameError" class="msg-info text-primary-red"></span>
                                    </div>

                                    <div class="col-sm-12 col-md-6 form-group">
                                        <label for="firstName" class="d-block">Prénom(s)</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="inputGroupFirstName" class="input-group-text"><i class="icofont icofont-business-man fa-lg mx-2"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="inputGroupFirstName" placeholder="Prénom(s)" autocomplete="off" required>
                                        </div>
                                        <span id="firstNameError" class="msg-info text-primary-red"></span>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="address" class="d-block">Adresse</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="inputAddress" class="input-group-text"><i class="icofont icofont-location-pin fa-lg mx-2"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="address" name="address" placeholder="Entrer votre adresse" aria-describedby="inputAddress" required>
                                        </div>
                                        <span id="addressError" class="msg-info text-primary-red"></span>
                                    </div>
                                </div>

                                <div class="form-row">

                                    <div class="col-sm-12 col-md-6 form-group">
                                        <label for="region" class="d-block">Région</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="inputGroupRegion" class="input-group-text"><i class="icofont icofont-institution fa-lg mx-2"></i></span>
                                            </div>
                                            <select class="form-control" id="region" name="region" aria-describedby="inputGroupRegion" required>
                                            </select>
                                        </div>
                                        <span id="regionError" class="msg-info text-primary-red"></span>
                                    </div>

                                    <div class="col-sm-12 col-md-6 form-group">
                                        <label for="city" class="d-block">Ville</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="inputGroupCity" class="input-group-text"><i class="icofont icofont-building-alt fa-lg mx-2"></i></span>
                                            </div>
                                            <select class="form-control" id="city" name="city" aria-describedby="inputGroupCity" required>
                                            </select>
                                        </div>
                                        <span id="cityError" class="msg-info text-primary-red"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Block form step 3 -->
                <div id="step-3" class="step row text-center m-4" style="display: none">
                    <div class="col col-md-4 d-none d-md-block" style="background: url(./assets/img/media/conseiller-commercial.jpg) no-repeat center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
                    <div class="col col-md-8 text-left">
                        <h4>Statut de l'entreprise</h4>

                        <div class="desc">
                            <form id="step-form-3" action="" method="POST" enctype="multipart/form-data" autocomplete="off">
                                <input type="hidden" name="step" value="3">
                                <input type="hidden" name="companyStatus" value="company">

                                <div class="row text-center company-status m-2">
                                    <div class="col company-status-item p-2 active" data-company="company">
                                        <i class="icofont-building-alt fa-2x"></i>
                                        <span>Societe</span>
                                    </div>
                                    <div class="col company-status-item p-2" data-company="liberal">
                                        <i class="icofont-bag-alt fa-2x"></i>
                                        <span>Profession liberale</span>
                                    </div>
                                    <div class="col company-status-item p-2" data-company="selfEmployed">
                                        <i class="icofont-businessman fa-2x"></i>
                                        <span>Auto-entrepreneur</span>
                                    </div>
                                </div>


                                <div class="form-row">

                                    <div class="col-sm-12 col-lg-4 form-group">
                                        <label for="activityArea" class="d-block">Secteur d'activité</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="inputGroupActivityArea" class="input-group-text"><i class="icofont icofont-institution fa-lg mx-2"></i></span>
                                            </div>
                                            <select class="form-control" id="activityArea" name="activityArea" aria-describedby="inputGroupActivityArea" required>
                                            </select>
                                        </div>
                                        <span id="activityAreaError" class="msg-info text-primary-red"></span>
                                    </div>

                                    <div class="col-sm-12 col-lg-4 form-group">
                                        <label for="branch" class="d-block">Branche</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="inputGroupBranch" class="input-group-text"><i class="icofont icofont-building-alt fa-lg mx-2"></i></span>
                                            </div>
                                            <select class="form-control" id="branch" name="branch" aria-describedby="inputGroupBranch" required>
                                            </select>
                                        </div>
                                        <span id="branchError" class="msg-info text-primary-red"></span>
                                    </div>

                                    <div class="col-sm-12 col-lg-4 form-group">
                                        <label for="subBranch" class="d-block">Sous-branche</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="inputGroupSubBranch" class="input-group-text"><i class="icofont icofont-building-alt fa-lg mx-2"></i></span>
                                            </div>
                                            <select class="form-control" id="sub-branch" name="subBranch" aria-describedby="inputGroupSubBranch" required>
                                            </select>
                                        </div>
                                        <span id="subBranchError" class="msg-info text-primary-red"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Block form step 4 -->
                <div id="step-4" class="step row text-center m-4" style="display: none" data-summary="1">
                    <div class="col col-md-4 d-none d-md-block" style="background: url(./assets/img/media/analyse-donnees.jpg) no-repeat center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
                    <div class="col col-md-8 text-left">
                        <h4>Récapitulatif des données saisies</h4>
                        <div class="desc">
                        </div>
                    </div>
                </div>

                <!-- Block form step 5 -->
                <div id="step-5" class="step row text-center m-4" style="display: none" data-hidden-step="1" data-terms-service="1">
                    <div class="col col-md-4 d-none d-md-block" style="background: url(./assets/img/media/signez-ici-s-il-vous-plait.jpg) no-repeat center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
                    <div class="col col-md-8 text-left">
                        <h4>Conditions d'utilisation du service</h4>
                        <div class="desc">
                        </div>
                    </div>
                </div>

                <!-- Block form step 6 -->
                <div id="step-6" class="step row text-center m-4" style="display: none" data-hidden-step="1">
                    {# <div class="col col-md-4 d-none d-md-block" style="background: url(./assets/img/media/factures.jpg) no-repeat center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div> #}
                    <div class="col text-left">
                        <h4>Choix de l'abonnement</h4>
                        <div class="desc">
                            <form id="step-form-6" action="" method="POST" enctype="multipart/form-data" autocomplete="off" data-stay-display="1">
                                <input type="hidden" name="step" value="6">

                                <fieldset class="form-group">
                                    <label>Merci de procéder au choix de votre abonnement</label>
                                    <div class="row text-center d-none">
                                        <div class="col">
                                            <div class="form-check d-inline mx-2">
                                            <input class="form-check-input" type="radio" name="subscriptionFormulaRadios" id="moukawil" value="moukawil" checked>
                                            <label class="form-check-label" for="subscriptionFormula1">
                                                Moukawil
                                            </label>
                                            </div>
                                            <div class="form-check d-inline mx-2">
                                            <input class="form-check-input" type="radio" name="subscriptionFormulaRadios" id="pro" value="pro">
                                            <label class="form-check-label" for="subscriptionFormula2">
                                                Pro
                                            </label>
                                            </div>
                                            <div class="form-check d-inline mx-2">
                                            <input class="form-check-input" type="radio" name="subscriptionFormulaRadios" id="entreprise" value="entreprise">
                                            <label class="form-check-label" for="subscriptionFormula3">
                                                Entreprise
                                            </label>
                                            </div>
                                            <div class="form-check d-inline mx-2">
                                            <input class="form-check-input" type="radio" name="subscriptionFormulaRadios" id="premium" value="premium">
                                            <label class="form-check-label" for="subscriptionFormula3">
                                                Grand Compte
                                            </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="card-deck pricing mb-3 text-center">
                                    <div class="card mb-4 mx-1 box-shadow">
                                        <div class="card-header bg-secondary-orange text-white" style="border-radius: 1rem 1rem 0 0">
                                            <h3 class="my-0 font-weight-normal">Moukawil</h3>
                                        </div>
                                        <div class="card-body px-0">
                                            <h3 class="card-title pricing-card-title">300 <small class="text-muted">Dhs HT</small></h3>
                                            <hr>
                                            <div>
                                                <span class="d-block">30 vérifications</span>
                                                <span class="d-block">1 utilisateur</span>
                                                <span class="d-block">Valable 3 mois</span>
                                            </div>
                                            <div class="text-center mt-4">
                                                <i class="icofont icofont-computer fa-3x mx-1"></i>
                                                <i class="icofont icofont-smart-phone fa-3x mx-1"></i>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="button" class="btn btn-lg btn-block btn-danger check-button check-moukawil">Choisir</button>
                                        </div>
                                    </div>
                                    <div class="card mb-4 mx-1 box-shadow">
                                        <div class="card-header bg-secondary-yellow text-white" style="border-radius: 1rem 1rem 0 0">
                                            <h3 class="my-0 font-weight-normal">Pro</h3>
                                        </div>
                                        <div class="card-body px-0">
                                            <h3 class="card-title pricing-card-title">1.500 <small class="text-muted">Dhs HT</small></h3>
                                            <hr>
                                            <div>
                                                <span class="d-block">180 vérifications</span>
                                                <span class="d-block">1 utilisateur</span>
                                                <span class="d-block">Valable 6 mois</span>
                                            </div>
                                            <div class="text-center mt-4">
                                                <i class="icofont icofont-computer fa-3x mx-1"></i>
                                                <i class="icofont icofont-smart-phone fa-3x mx-1"></i>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="button" class="btn btn-lg btn-block btn-light check-button check-pro">Choisir</button>
                                        </div>
                                    </div>
                                    <div class="card mb-4 mx-1 box-shadow">
                                        <div class="card-header bg-secondary-green text-white" style="border-radius: 1rem 1rem 0 0">
                                            <h3 class="my-0 font-weight-normal">Enterprise</h3>
                                        </div>
                                        <div class="card-body px-0">
                                            <h3 class="card-title pricing-card-title">4.000 <small class="text-muted">Dhs HT</small></h3>
                                            <hr>
                                            <div>
                                                <span class="d-block">600 vérifications</span>
                                                <span class="d-block">Jusqu'à 5 utilisateurs</span>
                                                <span class="d-block">Valable 1 an</span>
                                            </div>
                                            <div class="text-center mt-4">
                                                <i class="icofont icofont-computer fa-3x mx-1"></i>
                                                <i class="icofont icofont-smart-phone fa-3x mx-1"></i>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="button" class="btn btn-lg btn-block btn-light check-button check-entreprise">Choisir</button>
                                        </div>
                                    </div>
                                    <div class="card mb-4 mx-1 box-shadow">
                                        <div class="card-header bg-secondary-teal text-white" style="border-radius: 1rem 1rem 0 0">
                                            <h3 class="my-0 font-weight-normal">Enterprise</h3>
                                        </div>
                                        <div class="card-body px-0">
                                            <h3 class="card-title pricing-card-title">&lt; 5 Dhs <small class="text-muted">/ vérification</small></h3>
                                            <hr>
                                            <div>
                                                <span class="d-block">&gt; 1000 vérifications</span>
                                                <span class="d-block">Interface de gestion personnalisée du nombre d’utilisateurs</span>
                                                <span class="d-block">1 utilisateur</span>
                                                <span class="d-block">Valable 1 an</span>
                                                <span class="d-block">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#premiumAdvantagesModal">
                                                        Voir plus
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="text-center mt-4">
                                                <i class="icofont icofont-globe fa-2x mx-1"></i>
                                                <i class="icofont icofont-computer fa-2x mx-1"></i>
                                                <i class="icofont icofont-smart-phone fa-2x mx-1"></i>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="button" class="btn btn-lg btn-block btn-light check-button check-premium">Choisir</button>
                                        </div>
                                    </div>
                                </div>
                                <span id="subscriptionChoiceError" class="msg-info text-primary-red"></span>

                                <!-- Modal -->
                                <div class="modal fade" id="premiumAdvantagesModal" tabindex="-1" role="dialog" aria-labelledby="premiumAdvantagesModalTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Autre avantages du forfait premium</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="list-group list-group-flush text-left">

                                                <li class="list-group-item">1 mois de test</li>
                                                <li class="list-group-item">1 chargé de compte dédié</li>
                                                <li class="list-group-item">Accompagnement pour la mise en place</li>
                                                <li class="list-group-item">Formation </li>
                                                <li class="list-group-item">Interface de suivi des différents points de vente</li>
                                                <li class="list-group-item">Facturation trimestrielle</li>
                                                <li class="list-group-item">Dépassement autorisé à hauteur de 10% du volume</li>
                                                <li class="list-group-item">Mise à disposition de supports de visibilité (stickers vitrine / caisse)</li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row justify-content-center">
                                    <a class="btn text-light sweep-to-right-primary-red ml-1 trigger-next-step" style="background-color: #c40f11" href="#">
                                        <span>Valider</span>
                                        <i class="icofont icofont-arrow-right"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Block form step 7 -->
                <div id="step-7" class="step row text-center m-4" style="display: none" data-payment-summary="1">
                    <div class="col col-md-4 d-none d-md-block" style="background: url(./assets/img/media/main-homme-tenant-stylo.jpg) no-repeat center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
                    <div class="col col-md-8 text-left">
                        <h4>Récapitulatif de l'abonnement</h4>
                        <div class="desc">
                        </div>
                    </div>
                </div>

                <!-- Block form step 8 -->
                <div id="step-8" class="step row text-center m-4" style="display: none" data-payment="1">
                    <div class="col col-md-4 d-none d-md-block" style="background: url(./assets/img/media/paiement-par-carte-credit.jpg) no-repeat center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
                    <div class="col col-md-8 text-left">
                        <h4>Paiement</h4>
                        <div class="desc">
                        </div>
                    </div>
                </div>

                <!-- Block Buttons -->
                <div class="row text-center mt-3">
                    <div class="col">
                        <div id="nextAndPreviousStepButtons">
                            <button id="previous-step" class="btn text-light sweep-to-right-primary-red mr-1" style="background-color: #c40f11">
                                <i class="icofont icofont-arrow-left"></i>
                                <span>Précédent</span>
                            </button>
                            <button id="next-step" class="btn text-light sweep-to-right-primary-red ml-1" style="background-color: #c40f11">
                                <span>Suivant</span>
                                <i class="icofont icofont-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="./assets/js/register.js"></script>
{% endblock %}
