<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <base href="/">
        {# <base href="/onboarding_v2/"> #}
        <meta name="csrf-token" content="{{ csrf.token }}">
        <title>Check Info - Onboarding {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>

        <!-- Favicons -->
        <link rel="shortcut icon" href="./assets/img/favicon_infocheck.png">

        <!-- FONTS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,700,700italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap">

        <!-- CSS -->
        <link href="./assets/css/animate.css" rel="stylesheet" type="text/css" />
          {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"> #}


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css">


        <script src="https://kit.fontawesome.com/6107862fea.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="./assets/css/icofont.css">

        {# Custom style #}
        <style>
            * {
                font-family: 'Open Sans', sans-serif;
            }

            /* Credit Info text color */
            .text-primary-black {color: #2d2d2d}
            .text-primary-red {color: #c40f11}
            .text-primary-gray {color: #999}
            .text-primary-light-gray {color: #eee}

            .text-secondary-teal {color: #0c9cb2}
            .text-secondary-orange {color: #f98e00}
            .text-secondary-yellow {color: #ffc419}
            .text-secondary-green {color: #6eb15a}

            /* Credit Info background color */
            .bg-primary-black {background-color: #2d2d2d}
            .bg-primary-red {background-color: #c40f11}
            .bg-primary-gray {background-color: #999}
            .bg-primary-light-gray {background-color: #eee}

            .bg-secondary-teal {background-color: #0c9cb2}
            .bg-secondary-orange {background-color: #f98e00}
            .bg-secondary-yellow {background-color: #ffc419}
            .bg-secondary-green {background-color: #6eb15a}

            .shadow{
                -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
            }

        </style>

        {% block stylesheets %}{% endblock %}

    </head>
    <body>

        <main role="main" class="container-fluid main-gradient p-0">
            <h1 class="text-center py-3 mb-5 bg-light">{% block contentTitle %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </main>


        <!-- Footer -->
        <div style="background-color: #303945; padding: 0em 10em">
            <div class="text-center pt-5"><img src="./assets/img/logo/logo.png" alt="Footer logo CIC" width="300" /></div>
            <div class="text-center pt-3 pb-5">
                <i class="fab fa-facebook-f fa-lg text-light mx-1"></i>
                <i class="fab fa-linkedin-in fa-lg text-light mx-1"></i>
                <i class="fab fa-youtube fa-lg text-light mx-1"></i>
            </div>
            <div class="row text-light text-center pt-2 w-100">
                <div class="col">
                    <i class="fas fa-envelope d-block"></i>
                    <a class="d-block text-light my-3" href="mailto:contact@checkinfo.ma">contact@checkinfo.ma</a>
                </div>
                <div class="col">
                    <i class="fas fa-phone d-block"></i>
                    <a class="d-block text-light my-3" href="tel:+212520506000">+212 520 506 000</a>
                </div>
                <div class="col">
                    <i class="fas fa-map-marker-alt d-block"></i>
                    <a class="d-block text-light my-3" href="#" data-toggle="modal" data-target="#addressPlan">Le Zenith 1, Sidi Maârouf, Casablanca</a>
                </div>
            </div>
            <div class="row text-light text-center pt-0 pb-5 w-100">
                <div class="col"><a class="d-block text-light" target="_blank" href="https://cic.maxmind.ma/condition-generale">Condition Générales d'utilisation</a></div>
                <div class="col"><a class="d-block text-light" href="#">Plan du site</a></div>
                <div class="col"><a class="d-block text-light" href="#">Traitement des données personnelles</a></div>
            </div>
        </div>

        <!-- Address Modal -->
        <div class="modal fade" id="addressPlan" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content py-2">
                <div class="modal-body">
                    <div style="width: 100%"><iframe style="width: 100%" src="https://maps.google.com/maps?hl=fr&amp;q=G9Q4%2BRG%20Casablanca+(Check%20info)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">gps coordinates finder</a></iframe></div><br />
                </div>
            </div>
        </div>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="./assets/js/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    	<script type="text/javascript" src="./assets/js/notify.min.js"></script>

        <script src="./assets/js/sweetalert2.min.js"></script>

        <script> 
            $(function() { 
                
            }); 
        </script> 

        {% block javascripts %}{% endblock %}

    </body>
</html>